* {
    margin: 0;
    padding: 0;
  }
  .container {
    background-color: #eeeaea;
  }
  .steps {
    text-align: justify;
    align-items: center;
    margin-left: 30vw;
  }
  .steps h1 {
    padding: 10px 0;
  
    color: rgb(68, 85, 115);
  }
  .steps li {
    color: #a3a1a1;
    line-height: 1.5;
  }
  .title {
    text-align: center;
    padding-top: 2rem;
    color: rgb(68, 85, 115);
  }
  .title h2 {
    padding: 10px 0;
  }
  .input {
    padding-top: 4vw;
  }
  .input input {
    width: 90%;
    margin-left: 2.5rem;
    border: 1px solid rgb(151, 150, 150);
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
  }
  textarea {
    width: 90%;
    margin-left: 2.5rem;
    border: 1px solid rgb(151, 150, 150);
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
  }
  input:not(:nth-child(1)) {
    width: 10vw;
  }
  .input button {
    padding: 10px 30px;
    margin: 5px 0 20px 50px;
    background: rgb(53, 126, 235);
    border: none;
    border-radius: 5px;
    color: white;
  }
  button:hover {
    background: rgb(245, 108, 34);
  }
  .box {
    margin-left: 8vw;
    width: 83vw;
    background-color: #f8f4f4;
    border-radius: 10px;
    box-shadow: #c7c5c5;
  }